{% extends 'header.html' %}
{% block title %} Everything past {%endblock%}
{%block content%}
<section class="main">
    <div class="sectionHeader flex-row"> 
        <div class="text-box">
            <h1 class="hero-title">Discovery <br> through <br> story telling</h1>
            <p class="hero-text">Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry. </p>
        </div> 
    </div>
    <div class="shareStories flex-row">
        <div class="stories-text">
            <h1 class="title">
                About EverythingPast
            </h1>
            <p class="text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
        <div class="stories-image">
            <img src="../static/images/nursing-saw.png" alt="victorian nursing saw">
        </div>
    </div>
    <section class="mission ">
        <div class="mission-content-wrapper flex-row">
            <div class="mission-text">
                <h1 class="title">
                    Our mission
                </h1>
                <p class="text">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in th
                </p>
            </div>
            <div class="mission-image">
                <img src="../static/images/small-map.png" class='content-img' alt="">
            </div>
        </div>
    </section>
    <div class="about-us flex-row">
        <div class="about-image">
            <img src="../static/images/content-img.png" alt="" class="content-img">
        </div>
        <div class="about-text">
            <h1 class="title">
                About Us
            </h1>
            <p class="text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in th
            </p>
        </div>
    </div>
</section>

{%endblock%}